html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  letter-spacing: 5px;
  background-color: green;
  color: white;
  background-image: url(images/matrix-wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.clock-container {
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 35px white;
}